body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    min-width: 100dvw;
    box-sizing: border-box;
}

.page {
    padding-left: 8px;
    padding-top: 8px;
}

.page.loading {
    position: fixed;
    inset: 0;
    background-color: white;
}

.page.main > .show-settings {
    position: fixed;
    top: 0;
    right: 0;
    width: 5dvmax;
    height: 5dvmax;
}

.page.main {
    display: grid;
    position: absolute;
    inset: 0;
    row-gap: 8px;
    column-gap: 8px;
    grid-template-columns: auto auto auto 1fr;
    grid-template-rows: repeat(3, auto) 1fr;
    grid-template-areas:
        "output-bac-label           output-bac-value           output-bac-value          ."
        "output-time-to-limit-label output-time-to-limit-value output-time-to-limit-hint add-drink"
        "output-time-to-zero-label  output-time-to-zero-value  output-time-to-zero-value add-drink"
        "drinks-container           drinks-container           drinks-container          drinks-container"
        ;
}

.page.main > .output.bac.label {
    grid-area: output-bac-label;
}

.page.main > .output.bac.value {
    grid-area: output-bac-value;
    font-weight: bold;
    color: royalblue;
}

.page.main > .output.time-to-limit.label {
    grid-area: output-time-to-limit-label;
}

.page.main > .output.time-to-limit.value {
    grid-area: output-time-to-limit-value;
    font-weight: bold;
    color: royalblue;
}

.page.main > .output.time-to-limit.hint {
    grid-area: output-time-to-limit-hint;
}

.page.main > .output.time-to-zero.label {
    grid-area: output-time-to-zero-label;
}

.page.main > .output.time-to-zero.value {
    grid-area: output-time-to-zero-value;
    font-weight: bold;
    color: royalblue;
}

.page.main > .output.time-to-zero.hint {
    grid-area: output-time-to-zero-hint;
}

.page.main > .add-drink {
    grid-area: add-drink;
    justify-self: end;
    height: 100%;
    aspect-ratio: 1 / 1 ;
}

.page.main > .drinks-container {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    grid-area: drinks-container;
    overflow-y: scroll;
    overflow-x: visible;
    width: 100%;
    height: 100%;
    align-content: start;
}

.page.main > .drinks-container > .drink-root-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: repeat(5, min-content);
    grid-template-areas:
        "quantity-label           quantity-value           quantity-hint"
        "alcohol-percentage-label alcohol-percentage-value alcohol-percentage-hint"
        "started-at-label         started-at-value         started-at-value"
        "time-to-limit-label      time-to-limit-container  delete"
        "time-to-zero-label       time-to-zero-container   delete"
        ;
    border: 1px solid gainsboro;
    border-radius: 4px;
    padding: 4px;
    background-color: #eef8ff;
    align-content: space-around;
    align-items: center;
    margin-bottom: 8px;
    width: 100%;
    box-sizing: border-box;
}

.page.main label,
.page.main span {
    white-space: nowrap;
}

.page.main > .drinks-container > .drink-root-container > * {
    margin: 4px;
}

.page.main > .drinks-container > .drink-root-container > .quantity.label {
    grid-area: quantity-label;
}

.page.main > .drinks-container > .drink-root-container > .quantity.value {
    grid-area: quantity-value;
}

.page.main > .drinks-container > .drink-root-container > .quantity.hint {
    grid-area: quantity-hint;
}

.page.main > .drinks-container > .drink-root-container > .alcohol-percentage.label {
    grid-area: alcohol-percentage-label;
}

.page.main > .drinks-container > .drink-root-container > .alcohol-percentage.value {
    grid-area: alcohol-percentage-value;
}

.page.main > .drinks-container > .drink-root-container > .alcohol-percentage.hint {
    grid-area: alcohol-percentage-hint;
}

.page.main > .drinks-container > .drink-root-container > .started-at.label {
    grid-area: started-at-label;
}

.page.main > .drinks-container > .drink-root-container > .started-at.value {
    grid-area: started-at-value;
}

.page.main > .drinks-container > .drink-root-container > .started-at.hint {
    grid-area: started-at-hint;
}

.page.main > .drinks-container > .drink-root-container > .time-to.limit.label {
    grid-area: time-to-limit-label;
}

.page.main > .drinks-container > .drink-root-container > .time-to.limit.container {
    grid-area: time-to-limit-container;
}

.page.main > .drinks-container > .drink-root-container > .time-to.zero.label {
    grid-area: time-to-zero-label;
}

.page.main > .drinks-container > .drink-root-container > .time-to.zero.container {
    grid-area: time-to-zero-container;
}

.page.main > .drinks-container > .drink-root-container > .value {
    grid-column: 2;
    font-size: 1.5rem;
    min-height: 40px;
    min-width: 40px;
}

.page.main > .drinks-container > .drink-root-container > .delete {
    grid-area: delete;
    justify-self: end;
    align-self: stretch;
    aspect-ratio: 1 / 1;
}

.page.main > .drinks-container > .drink-root-container > .time-to.container {
    grid-column: 2 / span 2;
    background-color: white;
    border: 1px solid gray;
    align-self: stretch;
}

.page.main > .drinks-container > .drink-root-container > .time-to.label {
    font-size: 0.5em;
}

.page.settings {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    row-gap: 8px;
    padding-top: 0;
}

.page.settings label,
.page.settings span {
    white-space: nowrap;
}

.page.settings > hr {
    width: 100%;
}

.page.settings > .close {
    width: 5dvmax;
    height: 5dvmax;
    justify-self: end;
}

.page.settings > .variables {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-flow: row;
    grid-auto-rows: auto;
    justify-content: start;
    align-items: center;
    row-gap: 12px;
}

.page.settings > .variables > * {
    margin: 4px;
}

.page.settings > .variables > .value {
    max-width: 80px;
    min-height: 40px;
    font-size: 1.5rem;
}

.page.settings > .info {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    row-gap: 20px;
}

.page.settings > .info > .rho-factor {
    display: grid;
    grid-template-columns: 32px auto;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    grid-template-areas:
        "description description"
        ". for-male"
        ". for-female"
        ;
    row-gap: 4px;
}

.page.settings > .info > .rho-factor > .description {
    grid-area: description;
}

.page.settings > .info > .rho-factor > .for-male {
    grid-area: for-male;
}

.page.settings > .info > .rho-factor > .for-female {
    grid-area: for-female;
}

.page.settings > .info > .elimination-rate {
    display: grid;
    grid-template-columns: 32px auto;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    grid-template-areas:
        "description description"
        ". for-human"
        ;
    row-gap: 4px;
}

.page.settings > .info > .elimination-rate > .description {
    grid-area: description;
}

.page.settings > .info > .elimination-rate > .for-human {
    grid-area: for-human;
}

.page.settings .default-value {
    color: royalblue;
}
