body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    min-width: 100dvw;
    box-sizing: border-box;
}

.page {
    padding-left: 8px;
    padding-top: 8px;
}

.page.loading {
    position: fixed;
    inset: 0;
    background-color: white;
}

.page.main > .show-settings {
    position: fixed;
    top: 0;
    right: 0;
    width: 5dvmax;
    height: 5dvmax;
}

.page.main {
    display: grid;
    position: absolute;
    inset: 0;
    row-gap: 8px;
    column-gap: 8px;
    grid-template-columns: auto auto auto 1fr;
    grid-template-rows: repeat(3, auto) 1fr;
    grid-template-areas:
        "output-bac-label           output-bac-value           output-bac-value          ."
        "output-time-to-limit-label output-time-to-limit-value output-time-to-limit-hint add-drink"
        "output-time-to-zero-label  output-time-to-zero-value  output-time-to-zero-value add-drink"
        "drinks-container           drinks-container           drinks-container          drinks-container"
        ;
}

.page.main > .drinks-container > .drink-root-container > input {
    max-width: 80px;
}

.page.main > .output.bac.label {
    grid-area: output-bac-label;
}

.page.main > .output.bac.value {
    grid-area: output-bac-value;
    font-weight: bold;
    color: royalblue;
}

.page.main > .output.time-to-limit.label {
    grid-area: output-time-to-limit-label;
}

.page.main > .output.time-to-limit.value {
    grid-area: output-time-to-limit-value;
    font-weight: bold;
    color: royalblue;
}

.page.main > .output.time-to-limit.hint {
    grid-area: output-time-to-limit-hint;
}

.page.main > .output.time-to-zero.label {
    grid-area: output-time-to-zero-label;
}

.page.main > .output.time-to-zero.value {
    grid-area: output-time-to-zero-value;
    font-weight: bold;
    color: royalblue;
}

.page.main > .output.time-to-zero.hint {
    grid-area: output-time-to-zero-hint;
}

.page.main > .add-drink {
    grid-area: add-drink;
    justify-self: end;
    height: 100%;
    aspect-ratio: 1 / 1 ;
}

.page.main > .drinks-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    grid-area: drinks-container;
    overflow-y: scroll;
    overflow-x: visible;
    width: 100%;
    height: 100%;
}

.page.main > .drinks-container > .drink-root-container {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: repeat(5, min-content);
    border: 1px solid gainsboro;
    border-radius: 4px;
    padding: 4px;
    background-color: #eef8ff;
    align-content: space-around;
    margin-bottom: 8px;
}

.page.main > .drinks-container > .drink-root-container > label,
.page.main > .drinks-container > .drink-root-container > span {
    white-space: nowrap;
}

.page.main > .drinks-container > .drink-root-container > * {
    margin: 4px;
}

.page.main > .drinks-container > .drink-root-container > .quantity {
    grid-row: 1;
}

.page.main > .drinks-container > .drink-root-container > .alcohol-percentage {
    grid-row: 2;
}

.page.main > .drinks-container > .drink-root-container > .started-at {
    grid-row: 3;
}

.page.main > .drinks-container > .drink-root-container > .limit {
    grid-row: 4;
}

.page.main > .drinks-container > .drink-root-container > .zero {
    grid-row: 5;
}

.page.main > .drinks-container > .drink-root-container > .label {
    grid-column: 1;
}

.page.main > .drinks-container > .drink-root-container > .value {
    grid-column: 2;
}

.page.main > .drinks-container > .drink-root-container > .hint {
    grid-column: 3;
}

.page.main > .drinks-container > .drink-root-container > .delete {
    grid-column: 3;
    grid-row: 3;
    padding: 0;
    justify-self: end;
    align-self: center;
    height: 100%;
    aspect-ratio: 1 / 1;
}

.page.main > .drinks-container > .drink-root-container > .time-to.container {
    grid-column: 2 / span 2;
    background-color: white;
    border: 1px solid gray;
}

.page.main > .drinks-container > .drink-root-container > .time-to.label {
    font-size: 0.5em;
}

.page.settings > .close {
    position: fixed;
    top: 0;
    right: 0;
    width: 5dvmax;
    height: 5dvmax;
}
